<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
   <servlet>
	<servlet-name>javax.ws.rs.core.Application</servlet-name>
 </servlet>
 <servlet-mapping>
        <servlet-name>javax.ws.rs.core.Application</servlet-name>
        <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  
  <display-name>book</display-name>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InscriptionServlet</display-name>
    <servlet-name>InscriptionServlet</servlet-name>
    <servlet-class>com.car.book.servlets.InscriptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InscriptionServlet</servlet-name>
    <url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.car.book.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfilsServlet</display-name>
    <servlet-name>ProfilsServlet</servlet-name>
    <servlet-class>com.car.book.servlets.ProfilsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfilsServlet</servlet-name>
    <url-pattern>/profils</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UtilisateursServlet</display-name>
    <servlet-name>UtilisateursServlet</servlet-name>
    <servlet-class>com.car.book.servlets.UtilisateursServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UtilisateursServlet</servlet-name>
    <url-pattern>/utilisateurs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionAmisServlet</display-name>
    <servlet-name>GestionAmisServlet</servlet-name>
    <servlet-class>com.car.book.servlets.GestionAmisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionAmisServlet</servlet-name>
    <url-pattern>/gestion-amis</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.car.book.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StatusServlet</display-name>
    <servlet-name>StatusServlet</servlet-name>
    <servlet-class>com.car.book.servlets.StatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatusServlet</servlet-name>
    <url-pattern>/status</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.car.book.servlets.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionStatusServlet</display-name>
    <servlet-name>GestionStatusServlet</servlet-name>
    <servlet-class>com.car.book.servlets.GestionStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionStatusServlet</servlet-name>
    <url-pattern>/gestion-status</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeedServlet</display-name>
    <servlet-name>FeedServlet</servlet-name>
    <servlet-class>com.car.book.servlets.FeedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedServlet</servlet-name>
    <url-pattern>/feed</url-pattern>
  </servlet-mapping>
</web-app>